{% extends 'layouts/base.html' %}

{% block title %} Tables {% endblock title %}

{% block content %}

    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
      <div class="container-fluid align-items-center">
        <div class="row mt-5">
          <div class="col-lg-7 col-md-10">
            <a href="{%url 'add-asset'%}" class="btn btn-info">Add Asset</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">

      <!-- Dark table -->
      <div class="row">
        <div class="col">
          <div class="card bg-default shadow">
            <div class="card-header bg-transparent border-0">
              <h3 class="text-white mb-0">Laptops</h3>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-dark table-flush">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Asset Name</th>
                    <th scope="col">Model</th>
                    <th scope="col">Memory</th>
                    <th scope="col">Issuer</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Asset user</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                {% if assets %}
                {% for asset in  assets %}
                  <tr>
                    <td>{{asset.name}}</td>
                    <td>{{asset.model}}</td>
                    <td>{{asset.memory}}</td>
                    <td>{{asset.issuer}}</td>
                    <td>{{asset.cost}}</td>
                    <td>{{asset.asset_user.email}}</td>
                    <td>
                      <a href="{% url 'edit-asset' asset_id=asset.id %}"><i class="fa fa-edit mx-2"></i></a>
                      <a href="{% url 'delete-asset' asset_id=asset.id %}"><i class="fa fa-trash"></i></a>
                    </td>
                  </tr>
                {% endfor %}
                {% else %}
                <tr><td colspan="7">No assets found.</td></tr>
                {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>


      {% include "includes/footer.html" %}

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
